[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
numpy = "*"
pandas = "*"
requests = "*"
notebook = "*"
pyfiglet = "*"
alive-progress = "*"
lxml = "*"
openpyxl = "*"
colorama = "*"
termcolor = "*"
pyinquirer = "*"

[dev-packages]

[requires]
python_version = "3.9"
